body
{
    /* background: linear-gradient(0deg, rgba(159,154,235,1) 0%, rgba(139,236,246,1) 38%, rgb(118, 185, 240) 73%); */
    background-color: rgb(252, 213, 206); 
    background-size: cover;
    font-family: sans-serif;
    margin-top: 80px;
    padding-top: 30px; 
    

}


/* STYLE FOR HEADER */
header img {
    height: 80px;
    margin-left: 40px;
    display: inline-block;
    vertical-align: middle;
}

header nav ul li a img {
    height: 40px;
    margin-left: 10px;
}

header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 5px 0 rgb(94, 93, 93);
}

header * {
    display: inline;
}

header li {
    margin: 20px;
}

header li a {
    color: black;
    text-decoration: none;
}
/***********************************************/

/* STYLE FOR TEXTBOX AND BUTTON */

input[type=text], select {
    width: 30%;
    padding: 8px 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 12%;
    background-color: rgb(255, 215, 186);
    color: black;
    padding: 8px 12px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family:'Lora', serif;
    font-size: 15px;
}
input[type=reset] {
    width: 12%;
    background-color:rgb(254, 197, 187);
    color: black;
    padding: 8px 12px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family:'Lora', serif;
    font-size: 15px;
}

input[type=submit]:hover {
    background-color: #45a049;
}
/***********************************************/
.body_container{
    width:70%;
    margin-right:auto ;
    margin-left: auto;
    height: fit-content;
    background-color:rgb(216, 226, 220);
}

.bloc_syntaxe_simple{
    width: 90%;
    margin-left:auto;
    margin-right: auto;
    height:300px;
    /* background-color: brown; */
}
.bloc_syntaxe_simple1{
    width: 90%;
    margin-left:auto;
    margin-right: auto;
    height:420px;
    /* background-color: brown; */
}
.blocs{
    width:31%;
    /* height:100%; */
    height:fit-content;
    float:left;
    background-color: rgb(248, 237, 235);
    margin-right:2%;
}
.header_syntax{
    margin-top: 2%;
    font-family: 'Moul', cursive;
    font-weight: bolder;
    font-size:18px;
    /* text-decoration: underline; */
    margin-left: 3%;

}
.definition{
    font-family: 'Rouge Script', cursive;
    font-size: 18px;
    margin-bottom: 3%;
    width:85%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}
.content_syntaxe{
    text-align: left;
    margin-top: 2%;
    font-size: 15px;
    margin-left: 3%; 
    font-family: 'Rouge Script', cursive;  
}
.italic{
    font-style: italic;
}
.bloc_example{
    margin-top: 3%;
    font-size: 20px;
}
.ex{
    text-align: left;
    font-weight: bolder;
    margin-left: 2%;
    font-family: 'Rouge Script', cursive;
    font-size: 18px;
}
.bloc_syntaxe_double{
    width: 85%;
    margin-left:auto;
    margin-right: auto;
    height:420px;
    /* background-color: brown; */
}
.bloc_syntaxe_multi{
    width:85%;
    margin-left:auto;
    margin-right: auto;
    height:600px;
    /* background-color: brown; */
}
.illustration{
    width:85%;
    margin-left:auto;
    margin-right: auto;
    height:150%;  
    /* background-color: pink; */
    margin-top: 5%;
}
.sujet{
    font-size: 20px;
    text-align: left;
    font-weight: bolder;
    margin-bottom: 1%;
}
.sujet_algo{
    text-align: left;
    font-size: 18px;
}
.click_haut{
    margin-top: 20px;
    font-family: 'Times New Roman', Times, serif;
    padding:2px 3px;
    font-size: 18px;
    border-radius: 5%;
}

/* Code block styling */
ol.linenums{
    counter-reset:linenumber;
}
ol.linenums li{
    list-style-type:none;
    counter-increment:linenumber;
}
ol.linenums li:before{
    content: counter(linenumber);
    float:left;
    margin-left:-4em;
    text-align:right;
    width:3em;
}


code{
    display: block;
}
.exemple_rouge{
    color:red;
}
  
/**********************************************************************/
/* Pretty printing styles. Used with prettify.js. */
pre .str, code .str { color: #65B042; } /* string  - green */
pre .kwd, code .kwd { color: #E28964; } /* keyword - dark pink */
pre .com, code .com { color: #AEAEAE; font-style: italic; } /* comment - gray */
pre .typ, code .typ { color: #89bdff; } /* type - light blue */
pre .lit, code .lit { color: #3387CC; } /* literal - blue */
pre .pun, code .pun { color: #fff; } /* punctuation - white */
pre .pln, code .pln { color: #fff; } /* plaintext - white */
pre .tag, code .tag { color: #89bdff; } /* html/xml tag    - light blue */
pre .atn, code .atn { color: #bdb76b; } /* html/xml attribute name  - khaki */
pre .atv, code .atv { color: #65B042; } /* html/xml attribute value - green */
pre .dec, code .dec { color: #3387CC; } /* decimal - blue */

code.prettyprint {
	background-color:#020209;
	border-radius:3px;
	padding:0.2em; 
	margin:0.2em;
	font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

pre.prettyprint {
	background-color: #020209;
	border-radius: 8px;
	font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
	width: 95%;
	max-height: 400px;
	margin: 10px auto; 
	white-space: pre-wrap;
	padding: 20px !important;
	overflow: hidden;
	overflow-style:auto;
	overflow-y:hidden;
	overflow-x:hidden;
	font-size:16px;
	
}

/*Hover effect for prettyprint code block*/
pre.prettyprint:hover {
	overflow: auto;
	overflow-style:auto;
}

/*Selection effect for prettyprint code block*/
pre.prettyprint ::selection {
	background: #0000FF;
	color: #FFF;
}

/*Selection effect for prettyprint code block in Mozilla*/
pre.prettyprint ::-moz-selection{
	background: #0000FF;
	color: #FFF;
}


/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0; color: #666666; } /* IE indents via margin-left */
li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 { list-style-type: decimal !important; }
/* Alternate shading for lines */
li.L1,li.L3,li.L5,li.L7,li.L9 {
background-color: #020209 !important; }

@media print {
  pre .str, code .str { color: #060; }
  pre .kwd, code .kwd { color: #006; font-weight: bold; }
  pre .com, code .com { color: #600; font-style: italic; }
  pre .typ, code .typ { color: #404; font-weight: bold; }
  pre .lit, code .lit { color: #044; }
  pre .pun, code .pun { color: #440; }
  pre .pln, code .pln { color: #000; }
  pre .tag, code .tag { color: #006; font-weight: bold; }
  pre .atn, code .atn { color: #404; }
  pre .atv, code .atv { color: #060; }
}
/**********************************************************************/



.font_h1{
    font-family: 'Concert One', cursive;
}
.font_h2{
    font-family: 'Pacifico', cursive;
}
.font3{
    font-family: 'Taviraj', serif;
}
/* HEADER */

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

/* html {
  height:100%;
  background-image: linear-gradient(to right top, #8e44ad 0%, #3498db 100%);
}
 */
nav {
  max-width: 960px;
  mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
  margin: 0 auto;
  padding: 60px 0;
  
}

nav ul {
  text-align: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  padding: 18px;
  font-family: 'Dancing Script', cursive;
  text-transform:uppercase;
  color: rgba(0, 35, 122, 0.5);
  font-size: 18px;
  text-decoration: none;
  display: block;
  font-weight: bolder;
  
}

nav ul li a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.1);
  color: rgba(0, 35, 122, 0.7);
  font-weight:400px;
}

.color_header{
    background-color: rgb(255, 237, 221);
}
.taille_logo{
    width:160px;
    height:140px;

}
.font_label{
    font-family:'Inconsolata', monospace; ;
    font-size: 15px;
}
